* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.wrap {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.eagle {
  /* height: 100%;  */
  background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    ),
    url(../image/banner.png) no-repeat;
  background-size: cover;
  /* padding-bottom: 12.56rem;  */
}

/* ------ главное меню---------*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.menu_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.nav {
  display: flex;
  align-items: center;
  line-height: 1rem;
  list-style: none;
}

.nav li {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: inherit;
  justify-content: center;
  align-items: center;
  padding: 1.125rem;
  margin: 1.5rem;
}

.nav li a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.menu_find {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_find_icon {
  padding: 0 0.5rem;
}

.menu_hover::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0.625rem;
  right: 0;
  left: 0;
  background: #f4bf87;
  transform: scale(0);
  transition: all 0.3s ease;
}

.menu_hover:hover::before {
  transform: scale(1);
}

.icon_hover path {
  fill: inherit;
  /* stroke:inherit; */
  /* stroke-width:inherit; */
}

.icon_hover:hover {
  fill: #f4bf87;
}

/* ------ section_welcome---------*/

.section_welcome {
  color: #ffffff;
  text-align: center;
}

.creative {
  font-family: "Kaushan Script", cursive;
  font-size: 4rem;
  padding-top: 11.06rem;
}

.welcome {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 9rem;
  letter-spacing: 0.44rem;
  text-transform: uppercase;
  line-height: 11rem;
  padding: 0 3rem;
}

/* ------ section_welcome КНОПКА---------*/

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-learn {
  display: inline-block;
  position: relative;
  color: #ffffff;
  transition: all 0.4s ease;
}

.button-learn_margin {
  margin: 6.75rem 0 8.5rem 0;
}

.button-learn a {
  display: inline-block;
  padding: 1rem 6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: inherit;
  border: 0.25rem solid #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-learn a:hover {
  color: #e4be8d;
  background: #fff;
}

.button-learn a:active {
  background: #fff;
  border: 0.25rem solid #e4be8d;
  color: #e4be8d;
}

/* ------ линия над кнопкой---------*/

.button-learn::after {
  content: "";
  position: absolute;
  padding: 0;
  height: 4px;
  background: #fff;
  top: -4.375rem;
  left: 6rem;
  right: 6rem;
}

/* ------заголовки секций---------*/

.cursive {
  text-align: center;
  font-family: Kaushan Script;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.75rem;
  padding-top: 4rem;
}

.text_title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.625rem;
  padding: 3rem 0 5.5rem 0;
}

.text_title::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 7.8125rem;
  height: 4px;
  width: 100%;
  max-width: 10.625rem;
  text-align: center;
  background: #f38281;
}

.text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.31rem;
}

.text_position {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.about-image {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 6.75rem;
}

.about-imagewrap {
  position: relative;
  height: 21.125rem;
  max-width: calc(100% / 3);
}

.about-imagewrap::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #95e1d3;
  opacity: 0;
}

.about-imagewrap:hover::before {
  opacity: 1;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-image_team {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 26.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s ease;
}

.about-image_team:hover {
  top: -0.625rem;
  left: -0.625rem;
  opacity: 1;
}

.about-image_team p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  padding-top: 1.875rem;
  color: #fff;
}

.about_wrap {
  background: #95e1d3;
}

.about_content {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.69rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.about_content:first-child {
  border-left: 1px #fff solid;
}

.about_content > div {
  width: 20%;
  padding: 4.8rem 0;
  border-right: 1px rgb(255, 255, 255) solid;
}

.about_text {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.about_content p {
  text-align: center;
}

.work_with {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.work_with_name {
  display: inherit;
  flex-basis: 33.333%;
}

.text_h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.17rem;
  padding: 0.81rem 0;
}

.work_with > div {
  margin-top: 4rem;
}
.work_with_name img {
  padding-right: 2rem;
}

.design {
  height: 100%;
  background: url(../image/design.png) no-repeat;
  background-size: cover;
}

.image_design {
  display: inline-block;
  position: relative;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 69%;
  max-height: 100%;
  margin-bottom: 3.56rem;
}

.image_design_under {
  position: relative;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.image_design_under img {
  width: 100%;
  object-fit: cover;
}

.image_design_in {
  position: absolute;
  width: 94%;
  top: 5%;
  left: 3%;
  overflow: hidden;
  z-index: 1;
}

.image_design_in img {
  width: 100%;
  object-fit: cover;
}

.image_design_mobile {
  position: absolute;
  width: 100%;
  top: 42%;
  left: 77%;
  z-index: 3;
}

.image_design_mobile img {
  width: 29%;
  object-fit: cover;
}

.wtatwedo__content {
  display: flex;
  justify-content: space-between;
}

.wtatwedo__photo {
  flex-basis: 48.7%;
}

.wtatwedo__menu {
  flex-basis: 48.7%;
}

.wtatwedo__photo img {
  object-fit: cover;
  width: 100%;
}

.wtatwedo__menuitem {
  display: flex;
  padding: 1.375rem;
  border: 1px solid #c6cbcd;
  margin-top: 1.375rem;
}

.wtatwedo__menuitem:first-child {
  margin-top: 0;
}

.wtatwedo__menuicon {
  padding-right: 3rem;
}

.wtatwedo__menutext {
  border: 1px solid #c6cbcd;
  border-top: none;
  padding: 1.375rem 5.3rem 1.375rem 1.375rem;
  max-height: 10rem;
  overflow: auto;
}

.quote__wrap {
  background: #f8f8f8;
  margin-top: 7.125rem;
}
.wtatwedo__quote {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.quote__image {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 2rem;
}

.quote__imagein {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.quote__text {
  font-family: Raleway;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.quote__name {
  padding-top: 2rem;
  text-align: start;
}

.icon_social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_h4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.31rem;
  text-align: center;
  vertical-align: middle;
}

.text_center {
  text-align: center;
  vertical-align: middle;
}

.section_vector {
  background: #f8f8f8;
}

.vector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3.875rem 0;
}

.vector img {
  max-height: 5.25rem;
  max-width: 100%;
  object-fit: cover;
}

.gallery {
  display: grid;
  /*grid-template: repeat (4,1fr)/repeat (2,1fr);*/
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery__item {
}

.gallery__item3 {
  grid-row: span 2;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.quote_background {
  background: #fff;
}

.image_radius {
  border-radius: 100%;
}

.section_people {
  background: url(../image/peple_background.png);
  background-size: cover;
}

.section_wrap {
  background: rgba(255, 255, 255, 0.9);
}

.text_left {
  text-align: left;
}

.people {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.people_item {
  display: flex;
}

.people_wrap {
  max-width: 48.67%;
  /* flex-grow: 1; */
}

.people_item {
}

.people_img {
  padding: 0.5rem 3.125rem 0 1.313rem;
}

.text_padding {
  padding: 0 3.375rem 0 0;
}

.people_item h4 {
  padding: 1.125rem 0 1.75rem 0;
}

@media (max-width: 1024px) {
  * {
    font-size: 70%;
  }

  .vector img {
    max-height: 3.5rem;
  }
}

@media (max-width: 640px) {
  .people {
    flex-direction: column;
  }

  .people_wrap {
    max-width: 100%;
  }
}
/* ---------------- LATEST BLOG---------------------- */

.latest-blog {
  padding-bottom: 5.25rem;
}

.latest-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  column-gap: 1rem;
}

.latest-gallery__item {
  max-width: 31.5%;
}

.latest-gallery__image-wrap {
  position: relative;
  width: 100%;
  height: 15.813rem;
  margin-bottom: 2.375rem;
}

.latest-gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.latest-gallery__date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 21.62%;
  height: 31.62%;
  top: 58.5%;
  left: -3.78%;
  background: rgba(149, 225, 211, 0.97);
}

.latest-gallery_h3 {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.75rem;
  color: #fff;
}

.latest-gallery_h4 {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #fff;
}

.latest-gallery_statistics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.375rem;
}

.latest-gallery__shows,
.latest-gallery__messages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.latest-gallery__icon {
  max-height: 1.5rem;
  margin-right: 1.125rem;
}

.latest-gallery_number {
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  padding-right: 3.25rem;
}

.latest-gallery_padding {
  padding-bottom: 1.313rem;
}

.latest_h2 {
  padding-bottom: 5rem;
  color: #f38281;
}
.latest__footer {
  background: url(../image/latest_background.png);
  background-size: cover;
}

.latest__footer > div {
  background: rgba(255, 255, 255, 0.9);
}

.latest__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.875rem;
}

.footer__copypight {
  text-transform: uppercase;
  text-align: center;
  padding: 1.25rem 0;
  border: 1px solid #c6cbcd;
}
