@import url('./burger.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;   
}

body, footer {
  font-size: 1.125rem;
  color: #2D3033;
  min-width: 320px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header_margin {
  margin-top: 2.2rem;
}

.content {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.eagle {
  background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    ),
    url(../image/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  body, footer {
    font-size: 0.875rem;  
  }
 
   .eagle {
    background: linear-gradient(
        360deg,
        rgba(237, 215, 137, 0.9) 0%,
        rgba(233, 130, 131, 0.9) 100%
      ),
      url(../image/banner_tablet.jpg) no-repeat;
      background-size: cover;
      background-position: center;
 
      }  
        
}

/* ------ главное меню---------*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.menu_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.nav {
  display: flex;
  align-items: center;
  line-height: 1rem;
  list-style: none; 
  padding-right: 2.375rem;  
  gap: 1.75rem;
}

.nav li {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: inherit;
  justify-content: center;
  align-items: center; 
  padding: 0 1.125rem;   
}

.nav li:last-of-type { 
  padding-right: 0;  
}

.nav li a {
  text-decoration: none;
  color: #ffffff;
  text-align: center; 
}

.menu_find {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.menu_find_icon {
  padding-left: 0.5rem
}

.menu_hover::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -0.5rem;
  right: 0;
  left: 0;
  background: #f4bf87;
  transform: scale(0);
  transition: all 0.3s ease;
}

.menu_hover:hover::before {
  transform: scale(1);
}

.menu_hover a:hover {
  color: #f4bf87;
}

.icon_hover path {
  fill: inherit;
}

.icon_hover:hover {
  fill: #f4bf87;
}


@media (max-width: 1024px) {
  .nav {     
    padding-right: 2.375rem;    
    gap: 0.87rem;
  }
  
  .nav li {   
    line-height: 0.954rem; 
    font-size: 0.813rem;   
    padding: 0 1.125rem;   
  }
   
  .menu_find {
    gap: 1.2rem;
  }
  
  .menu_find_icon {
    padding-left: 0.3rem
  }

  .menu_find_icon svg {
    width: 1rem;
    height: 1rem;
  }
  
  .menu_hover::before {
    bottom: -0.3rem;
  }
}

@media (max-width: 768px) {
  .nav,
  .menu_find {     
    display: none;}  
  }
/* ------ section_welcome---------*/

.section-welcome {
  color: #ffffff;
  text-align: center;
}

.section-welcome_italic {
  font-family: "Kaushan Script";
  font-size: 4rem;
  padding-top: 10.5rem;
}

.section-welcome_h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 9rem;
  letter-spacing: 0.44rem;
  text-transform: uppercase;
  line-height: 10.8rem;
  padding: 0 4rem;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  
  .section-welcome_italic {    
   font-size: 3rem;
   line-height: 3.25rem;
   padding-top: 8rem;
 }
 
 .section-welcome_h1 {   
   font-size: 6rem;    
   line-height: 7.313rem;    
   margin-top: 0.4rem;
 } 
 } 

 @media (max-width: 768px) {   
.section-welcome_italic {    
    font-size: 2.25rem;
    line-height: 3.25rem;
   padding-top: 6.4rem;
 }
 
.section-welcome_h1 {   
   font-size: 3rem;    
   line-height: 3.688rem;    
   margin-top: 3rem;
   padding: 0;
   letter-spacing: 0;
 } 
}
/* ------ section_welcome КНОПКА---------*/

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-learn {
  display: inline-block;
  position: relative;
  color: #ffffff;
  transition: all 0.4s ease;
}

.button-learn_margin {
  margin: 7.575rem 0;
}

.button-learn a {
  display: inline-block;
  padding: 1.25rem 6.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: inherit;
  border: 0.25rem solid #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-learn a:hover {
  color: #e4be8d;
  background: #fff;
}

.button-learn a:active {
  background: #fff;
  border: 0.25rem solid #e4be8d;
  color: #e4be8d;
}

@media (max-width: 1024px) { 
     .button-learn_margin {
    margin: 5.125rem 0;
  }

  .button-learn::after {    
    top: -3.2rem;
    left: 31%;
    right: 31%;
  }
    
  .button-learn a {    
    padding: 0.8rem 6rem;
    font-size: 1.125rem;     
  }
}

@media (max-width: 768px) { 
  .button-learn_margin {
 margin: 7.4rem 0;
}

.button-learn::after {    
 top: -3.2rem;
 left: 31%;
 right: 31%;
}
 
.button-learn a {    
 padding: 0.7rem 5rem;
 font-size: 1.125rem;     
}
}

/* ------LINE UNDER BUTTON---------*/

.button-learn::after {
  content: "";
  position: absolute;
  padding: 0;
  height: 4px;
  background: #fff;
  top: -4.85rem;
  left: 27%;
  right: 27%;
}

@media (max-width: 1024px) {   
  .button-learn::after {   
    top: -3.2rem;    
  } 
}

/* ------SECTION HEADER---------*/

.cursive {
  text-align: center;
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.75rem;
}

.cursive_padding {
  padding-top: 3.725rem;
}

.text_title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.625rem;
  padding: 2.37rem 0 5.1rem 0;
}

.section-design_text-title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.625rem;
  padding: 2.37rem 0 5.1rem 0;
}

.text_title::after,  
.section-design_text-title::after{
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 7.5rem;
  height: 4px;
  width: 100%;
  max-width: 10.625rem;
  text-align: center;
  background: #f38281;
}

.text_position {
  margin-bottom: 5rem;
  text-align: center;
}


@media (max-width: 1024px) {
  .cursive {    
    font-size: 1.5rem;
    line-height: 2.175rem;
  }
  
  .cursive_padding {
    padding-top: 2.8rem;
  }
  
  .text_title {   
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding: 1.5rem 0 3.2rem 0;
  }
  
  .text_title::after {   
    top: 4.7rem;       
    max-width: 9rem;   
  }
  
  .text_position {
    margin-bottom: 3.4rem;    
  }
}

@media (max-width: 768px) {
 
  .cursive_padding {
    padding-top: 3rem;
  }
  
  .text_title {  
    padding: 2.3rem 0 3.4rem 0;
  }
  
  .text_title::after {   
    top: 6.2rem;    
  }
  
  .text_position {
    margin-bottom: 2.1rem;    
  }
}
/* -----SECTION STORY ABOUT US -----------------*/

.about-image {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 6.75rem;
  gap: 1.7rem;
}

.about-imagewrap {
  position: relative;
   flex: 1;
}

.about-imagewrap::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #95e1d3;
  opacity: 0;
}

.about-imagewrap:hover::before {
  opacity: 1;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-image_team {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 26.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.about-image_team:hover {
  top: -0.625rem;
  left: -0.625rem;
  opacity: 1;
}

.about-image_team p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  padding-top: 1.875rem;
  color: #fff;
}

.section-about__statistics {
  background: #95e1d3;
}

.section-about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.section-about__statistics__item {
  flex: 1;
  padding: 4rem 0 3.813rem 0;
  border-right: 1px rgb(255, 255, 255) solid;
}

.section-about__statistics__item:first-child {
  border-left: 1px #fff solid;
}

.section-about__statistics__item_h2 {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.69rem;
  padding-bottom: 1.25rem;
}

.section-about__statistics__item_p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 400;
}

@media (max-width: 1024px) { 
  .about-image {   
    margin-bottom: 3.8rem;
    gap: 1rem;
  }
     
  .about-image_team:hover {
    top: -0.625rem;
    left: -0.625rem;  
  }
  
  .about-image_team p {  
    font-size: clamp(1.125rem,5.6vw,2rem);
    line-height: 1.32rem;
    padding-top: 1.875rem;  
  }
  
    .section-about__statistics__item {  
    padding: 2.2rem 0 2.2rem 0;   
  }
    
  .section-about__statistics__item_h2 {   
    font-size: 3rem;
    line-height: 3.52rem;
    padding-bottom: 1.25rem;
  }
  
  .section-about__statistics__item_p {
    font-size: 1.125rem;
    line-height: 1.313rem;
   }  
}

@media (max-width: 768px) { 
  .about-image {
    flex-direction: column;
    margin-bottom: 3.7rem;
    gap:clamp(1rem, 5vw, 2rem);    
  }

  
  .about-imagewrap {
    min-height: 87vw;    
  }

  .about-imagewrap>img {
    height: 88vw;
  }
    
  .about-image picture img{
    height: clamp(1.875rem, 9.4vw, 3rem);    
    width: clamp(1.875rem, 9.4vw, 3rem); 
  }

   .about-image_team {
     display: flex;
     flex-direction: row;
     justify-content: start;
     align-items: center;
     gap: clamp(2rem,10vw,4rem);
     padding: 0 1rem;
    max-height: clamp(5.188rem, 20vw, 9rem);
     opacity: 1;
    left: 0;
    top: 100%;
    transform: translateY(-100%);
  }

  .about-image_team:hover {
    top: 100%;
    left: 0;
       }

  .about-image_team p {  
    padding-top: 0;  
  }

  .about-imagewrap:hover::before {
    display: none;
  }
 
  .section-about__content {
    flex-wrap: wrap;   
  }
  
  .section-about__statistics__item {
    flex: 1;
    flex-basis: 50%;
     padding: 0.9rem 0 0.65rem 0;
     border-right: none;        
  }

  .section-about__statistics__item:first-child {
    border-left: none;   
  }

  .section-about__statistics__item:not(:last-child) {
    border-bottom: 1px #fff solid;   
  }
  
  .section-about__statistics__item_h2 {
        padding-bottom: 1.38rem;
  }  
}
/* ------ SECTION WE WORK WITH ---------- */

.work-with {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10.25rem;
  column-gap: 2.2rem;
  margin-bottom: 6.7rem;
  margin-top: 3.1rem;
}

.work-with__item {
  display: flex; 
  flex: 1;
  flex-basis: calc((100% - 6.6rem)/3);  
  gap: 2.25rem;  
}

.work-with__item-icon {
  max-width: 3.938rem;
  height: auto;
}

.work-with__item-icon img{
  width: 100%;  
  object-fit: cover;
}

.text__h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.text__h3_padding {
  padding: 1.125rem 0 2.25rem 0;
}

.work-with__text-wrapper {
  flex: 1;
}

@media (max-width: 1024px) {
  .work-with {   
    row-gap: 4.9rem;
    column-gap: 2.3rem;
    margin-bottom: 4.4rem;
    margin-top: 1.8rem;
  }
  
  .work-with__item {    
    flex-basis: calc((100% - 4.6rem)/3);  
    gap: 1.5rem;  
  }
  
  .work-with__item-icon {
    max-width: 3.313rem;
  }

  .text__h3 {   
    font-size: 1.125rem;
    line-height: 1.313rem;
  }
  
  .text__h3_padding {
    padding: 1.125rem 0 1.75rem 0;
  }  
}

@media (max-width: 768px) {

  .work-with__wrapper {
    display: flex;
    justify-content: center;
  }
  
  .work-with {
    flex-grow: 0;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 3.65rem; 
    row-gap: 3.1rem;   
    margin-bottom: 4rem;
  }
  
  .work-with__item {
    flex: 1;
    gap: 1.6rem;     
  }
  
  .work-with__item-icon {
    max-width: 3.188rem;   
  }
 
  .text__h3_padding {    
    padding: 0.8rem 0 0.95rem 0;
  }
 
  .work-with__text-wrapper {
    flex: 1;
  }
}
/* -------- SECTION UNIQUE DESIGN--------- */

.section-design {
  background: url(../image/design.png) no-repeat;
  background-size: cover;
  background-position: center;
  }

.section-design__image {
  position: relative;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 58%;
  padding-bottom: 3.4rem;
   margin-top: 1.375rem;
}

.section-design__image-in {
  position: absolute;
  width: 94%;
  top: 4%;
  left: 3%;
  overflow: hidden;
  z-index: -1;  
}

.section-design__image-in img {
  width: 100%;
  object-fit: cover;
}


.image_design_image-under {
  position: relative;
  width: 100%; 
  z-index: 100;  
}

.section-design__image-under img {
  width: 100%;
  object-fit: cover;
  z-index: 100; 
}


.section-design__image-mobile {
  position: absolute;
  width: 29%;
  height: auto;
  top: 37%;
  left: 77%;
  z-index: 3;
}

.section-design__image-mobile img {
  width: 100%;  
  object-fit: cover;
}

@media (max-width: 1024px) {
   .section-design__image {    
    width: 58%;
    padding-bottom: 3rem;
    margin-top: 0;
  }
  
  .section-design_text-title {   
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding: 1.6rem 0 4rem 0;
  }
    
  .section-design_text-title::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 4.8rem;
    height: 4px;
    width: 100%;
    max-width: 10.625rem;
    text-align: center;
    background: #f38281;
  }   
} 

  @media (max-width: 768px) {
   
     .section-design__image {
      min-width: 17.875rem;
      padding-bottom: 1.35rem; 
          
    }
    
     .section-design__image-mobile {
      top: 50%;
      left: 50%;
      transform: translate(35%,-15%);     
    }
    
}

/* -------- SECTION WHAT WE DO--------- */

.section-service__content {
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
  padding-bottom: 7rem;
}

.service-photo {
  flex: 1;
  max-width: 35.625rem;
  border: 1px #050101;  
}

.service-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

.service-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.42rem;
  flex: 1;
  height: 100%;
}

.service-menu__item {
  display: flex;
  padding: 1.5rem 0 1.5rem 1.25rem;  
  border: 1px solid #c6cbcd;
  position: relative;
}

.service-menu__item h3 {
  display: flex;
  align-items: center; 
}

.service-menu__item:first-child {
  margin-top: 0;
}

.service-menu__icon {
  margin-right: 2.688rem;
  max-width: 2.3rem;
  width: 100%;
}

.service-menu__icon img{ 
  width: 100%;
  object-fit: cover;  
}

.service-menu__text {
  flex: 1;
  border: 1px solid #c6cbcd;
  border-top: none;
  padding: 1.125rem 3rem 1.125rem 1.125rem;
  max-height: 10.2rem;
  overflow: auto;
  display: none;
}

.service-menu__item button {
font-size: 0;
}

.service-menu__item button::after {
  content: url(../image/menu_arrow.svg);
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  }

  .service-menu_open {
    display: block;
  }

.service-menu .button-active::after  {
  transform-origin: 0 25%;
  transform: scaleY(-1);
}

.quote {
  background: #f8f8f8;
  padding: 2.6rem 0;
}

.quote__content {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  padding: 0 7.15rem 0 7.15rem;
}

.button-arrow__left {
  position: absolute;
  left: 2.125rem;
  top: 50%;
  transform: scaleX(-1) translateY(-50%);
}

.button-arrow__right svg:hover line,
.button-arrow__left svg:hover line {
  stroke: #332d2d;
  fill: #332d2d;
}

.button-arrow__right {
  position: absolute;
  right: 2.125rem;
  top: 50%;
  transform: translateY(-50%);
}

.quote__image {  
  max-width: 10.626rem;
  width: 100%;
}

.quote__image img {
  width: 100%;  
  object-fit: cover;
}

.quote__text {
  flex: 1;
  margin-top: 0.5rem;
  font-family: Raleway;
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.quote__name {
  position: relative;
  margin-top: 1.7rem;
  padding-left: 7.875rem;
  text-align: start;
}

.quote__name::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 4.375rem;
  background: #f38281;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}



.mobile-slider {
display: none;
justify-content: center;
gap: 1.28rem;
}

.mobile-slider button{
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
width: 0.6rem;
height: 0.6rem;
border-radius: 50%;
border: 1px solid #C6CBCD;
}


@media (max-width: 1024px) {
  .section-service__content {   
    gap: 1.3rem;
    padding-bottom: 5.5rem;
  }
  
  .service-photo {    
    max-width: 35.625rem;   
  }
  
  .service-menu { 
     gap: 1.25rem;
  }
  
  .service-menu__item {    
    padding: 1.3rem 0 1.3rem 1.1rem;    
  }
      
  .service-menu__icon {
    margin-right: 2rem;
    max-width: 1.93rem;
    width: 100%;
  }
  
   .service-menu__text {
    padding: 1.5rem 3rem 1.125rem 1.3rem;
    max-height: 8.7rem;  
  }
  
  .service-menu__item::after {
    right: 1.25rem;   
  }
  
  .quote {   
    padding: 1.7rem 0 1.7rem 0;
  }
  
  .quote__content {    
    gap: 0.8rem;
    padding: 0 5rem 0 7.2rem;
  }
  
  .button-arrow__left {  
     left: 2.7rem; 
     max-width: 0.8rem;  
  }

  .button-arrow__right {
    right: 2.125rem; 
    max-width: 0.8rem;   
  }
  
  .button-arrow__left img,
  .button-arrow__right img{  
    width: 100%;
    object-fit: cover;  
 }
    
  .quote__image {
    margin-right: 1.7rem;
    max-width: 7.1rem;
  }
  
  .quote__text {
    margin-top: 0rem;  
    font-size: 1.125rem;
    line-height: 1.313rem;
  }
  
  .quote__name {    
    margin-top: 1.1rem;
    padding-left: 5.3rem;  
  }
  
  .quote__name::before {     
    width: 3rem;      
  }
}

@media (max-width: 768px) {
 .section-service__content { 
   flex-direction: column; 
    padding-bottom: 3rem;   
  } 

  .service-photo {    
    position: relative;
    max-width:100%;
    padding: 0 0 49% 0;
    overflow: hidden;    
  }

  .service-photo img{    
   position: absolute;
   top: 0;
   left: 0;   
  }

.service-menu__text {
    padding: 1rem 3rem 1rem 1.3rem;    
  }

  .quote__image,
  .button-arrow__left,
  .button-arrow__right {
    display: none;
  }

  .quote__text {     
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .quote__content {    
    padding: 0 0 0 1rem;
  }
  
.quote__name {    
  margin-top: 0.85rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
  }

  .quote__name::before {     
    width: 3.56rem;      
  }

  .mobile-slider {
    display: flex;
  }

  .service-menu__item button::after {
    content: url(../image/menu_arrow_mobile.svg);
 }
  
}
/* ------------SECTION MEET OUR TEAM-------------- */

.section-team_padding {
padding-bottom: 5.6rem;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem; 
}

.team__item {
  flex: 1;
  position: relative;
  height: auto;
}

.team__item img{
  width: 100%;
  height: 100%;
}

.icon_social {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
}

.icon_social svg:hover rect{
    fill:#F38281; 
}

.icon_social svg:hover path{ 
  fill:#F9EFCF;  
}

.icon_social svg:active {
  transform: scale(1.2);
}

.team__item-empty {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.4s ease;
}

.team__item-empty:hover {
  bottom: 1rem;
  right: 1rem;
  opacity: 1;
}

.text__h4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.31rem;
  text-align: center;
  vertical-align: middle;
}

.team__name_padding {
  padding: 1.7rem 0 2.2rem 0;
}

.text_center {
  text-align: center;
  vertical-align: middle;
}

.section_vector {
  background: #f8f8f8;
}

.vector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.875rem 1.93rem;
}

.vector>div {
  display: flex;
  align-items: center;
  justify-content: right;
}

.vector img {
  max-height: 5.25rem;
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .section-team_padding {
    padding-bottom: 3.8rem;
   }
   
   .team {  
     gap: 1.3rem;    
   }
   
   .icon_social svg {
     width: 36px; 
     height: 36px;
   }
     
   .team__item-empty:hover {
     bottom: 0.5rem;
     right: 0.5rem; 
   }
   
   .text__h4 {    
     font-size: 0.875rem;    
     line-height: 1rem;    
   }
   
   .team__name_padding {
     padding: 0.8rem 0 0.9rem 0;
   }
    
   .vector {
     padding: 3rem 2.4rem;
   }
  
   .vector img {
     max-height: 3rem;  
   }   
}
@media (max-width: 768px) {
      .team {
      flex-direction: column;
      gap: clamp(2rem, 8vw, 4rem); 
    }
    .team__item-wrap {    
    width: 100%;
    }

    .team__item {
     padding: 0 0 82% 0;
     max-width: 100%;    
     overflow: hidden;
    }
    
    .team__item img{
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    
    .icon_social {
      left: 100%;
      top: 100%;
      transform: translate(-100%,-100%);         
    }

    .team__item-empty {
      height: 100%;
      bottom: 0;
      right: 0;      
      background: none;
      opacity: 1;
    }

    .team__item-empty:hover {
      bottom: 0;
      right: 0;         
    }

    .icon_social a {
     max-height: 42px;
  }

    .icon_social svg {
      width: 42px;
      height: 42px;
  }
       
    .vector {
      display: flex;
      justify-content: space-between;  
      row-gap:2rem;   
      flex-wrap: wrap;
    }
    
    .vector>div {
      flex-basis: 50%; 
      display: flex;
      justify-content: center;     
    }
    
    .vector>div:nth-of-type(3),
    .vector>div:nth-of-type(6) {
      flex: 1;
      flex-basis: 100%;      
    }

    .vector img {
      max-height: 3rem;    
    } 
}

/* -----------SECTION SOME OF OUR WORK------------- */
.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery__item {
  position: relative;
}

.gallery__empty-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.4s ease;
}

.text_white {
  color: #fff;
}

.gallery__empty-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__empty-item_h3_position {
  padding: 4.5rem 0 1.125rem 0;
}

.gallery__empty-item:hover {
  opacity: 1;
}

.gallery__empty-item img {
  max-width: 2.25rem;
}

.gallery__item3 {
  grid-row: span 2;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.quote_style {
  background: none;
  margin: 5.3rem 0;
}


@media (max-width: 1024px) {
  .gallery__empty-item_h3_position {
    padding: 4.5rem 0 1.125rem 0;
  }
  
  .gallery__empty-item img {
    max-width: 2.25rem;
  }
  
  .quote_style {   
    margin: 3.6rem 0;
  }
}

@media (max-width: 768px) {
  
  .gallery__empty-item {
    display: none;    
  }
  .gallery {
     grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
  }

.gallery__item3 {
    grid-row: span 3;
  }

  .gallery__item:nth-of-type(2) {
    order: 6;   
  }
 
  .gallery__item:nth-of-type(3) {
    order: 2;   
  }

  .gallery__item:nth-of-type(4) {
    order: 5;   
  }

  .gallery__item:nth-of-type(5) {
    order: 3;   
  }

  .gallery__item:nth-of-type(6) {
    order: 7; 
    grid-column: span 2; 
    max-height: clamp(9.5rem, 45vw, 20rem);
     }

  .gallery__item img {
   height: 100%;
   width: 100%;
   object-fit: cover;
  }
  
   .gallery__item:nth-of-type(7) {
    order: 4;   
  }

  .quote {
    padding: 1.7rem 0 1.81rem 0;
}

  .quote_visible {
    display: block;
  }

  .quote__content {
    flex-direction: column;
    gap:2rem;
  }

  .quote__image {
    margin-right: 0;
  }
   
  .quote_style {
    margin: 0;
  }

 
}
/* -------- SECTION WHAT PEOPLE SAY---------- */

.section__people {
  background: url(../image/peple_background.png);
  background-size: cover;
  background-position: center;
}

.section__wrap {
  background: rgba(255, 255, 255, 0.9);
  padding-bottom: 3.7rem;
}

.text_left {
  text-align: left;
}

.people {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3.188rem;
  column-gap: 1.125rem;
  row-gap: 5rem; 
  margin-top: 1.3rem;
}

.people__item {
  flex-basis: calc((100% - 2.5rem)/ 2);
  display: flex;
  column-gap: 3rem; 
  
}

.people__content {
  flex: 1;
  position: relative;
}

.people__content::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 4.375rem;
  background: #f38281;
  left: 0;
  top: 5.125rem;
}

.people__img {
  border-radius: 100%;
  max-width: 8.125rem;
  width: 100%;  
  margin-left: 1.4rem;
}

.people__img img {
  width: 100%;
  object-fit: cover;
}

.text_padding {
  padding: 0 3.375rem 0 0;
}

.people__item h4 {
  padding: 1.125rem 0 5.375rem 0;
}

@media (max-width: 1024px) {
  .section__wrap {
    padding-bottom: 2.7rem;
  }
  
  .people {
    row-gap: 3.188rem;
    column-gap: 1rem;
    row-gap: 3.5rem; 
    margin-top: 1rem;
  }
  
  .people__item {
    flex-basis: calc((100% - 2rem)/ 2);   
    column-gap: 3rem;  
  }
    
  .people__content::before {   
    width: 3rem;    
    top: 3.8rem;
  }
  
  .people__img {
    max-width: 5.5rem;   
    margin-left: 1.4rem;
  }
  
  .text_padding {
    padding: 0 3.375rem 0 0;
  }
  
  .people__item h4 {
    padding: 0.5rem 0 3.7rem 0;
  }
}

@media (max-width: 768px) {
  .people {  
    row-gap: 2.4rem;  
  }

  .people__item {
    flex-direction: column;
    flex-basis:100%;
    display: flex;
    align-items: center;
    row-gap: 1.6rem;    
  }

  .people__content>h3,
  .people__content>h4,
  .people__content p{
    text-align: center;     
  }

  .people__img {
    max-width: 5.5rem;
    margin-left: 0;
  }

  .people__content::before {
    width: 8.5rem;    
    left: 50%;
    transform: translateX(-50%);
    top: 3.6rem;
  }

  .people__item h4 {
    padding: 0.4rem 0 3.2rem 0;
  }   
}
/* ---------------- LATEST BLOG---------------------- */
.latest-blog_padding {
padding-bottom: 5.5rem;
}

.latest-gallery {
  display: flex;
  column-gap: 1.875rem; 
}

.latest-gallery__image-wrap {
  position: relative;
  width: 100%;
  height: auto; 
  margin-bottom: 2.375rem;
  padding-bottom: 15.813rem;
  
}

.latest-gallery__item {
  flex: 1;
  display: flex;
  flex-direction: column;  
}

.latest-gallery__image-wrap img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.latest-gallery__date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 21.62%;
  height: 31.62%;
  top: 58.5%;
  left: -3.5%;
  background: rgba(149, 225, 211, 0.97);
}

.latest-gallery_h3 {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.75rem;
  color: #fff;
}

.latest-gallery_h4 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #fff;
}

.latest-gallery__item>p {
  flex:1;
}

.latest-gallery_statistics {  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.2rem;
}

.latest-gallery__shows,
.latest-gallery__messages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.latest-gallery__icon {
  max-height: 1.5rem;
  margin-right: 1.125rem;
}

.latest-gallery_number {
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  padding-right: 3.25rem;
}

.latest-gallery_padding {
  padding-bottom: 1.313rem;
}

.latest_h2 {
  padding-bottom: 5rem;
  padding-top: 1.5rem;
  color: #f38281;
}

.latest_h2::after {
    top: 6.5rem;
 }

.latest__footer {
  background: url(../image/latest_background.jpg);
  background-size: cover;
  background-position: center;
}

.latest__footer > div {
  background: rgba(255, 255, 255, 0.9);
}

.latest__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.875rem;
}

@media (max-width: 1024px) {
  .latest-blog_padding {  
    padding-bottom: 3.9rem;
    }
    
    .latest-gallery {  
      column-gap: 1.25rem; 
    }

    .latest-gallery__image-wrap {
      margin-bottom: 1.9rem;
      padding-bottom: 74.3%; 
    }  
    
    .latest-gallery_h3 {
      font-size: 1.5rem;
      line-height: 1.25rem;
    }
    
    .latest-gallery_h4 {    
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    
    .latest-gallery_statistics { 
      margin-top: 2.7rem;
    }
      
    .latest-gallery__icon {
      max-height: 1.5rem;
      max-width: 1.5rem;
      margin-right: 1.125rem;
    }
    
    .latest-gallery_number {
      font-size: 0.75rem;
      line-height: 0.875rem;
      padding-right: 2.8rem;
    }
    
    .latest-gallery_padding {
      padding-bottom: 1.5rem;
    }
    
    .latest_h2 {
      padding-bottom: 3.875rem;
      padding-top: 1rem;
    }
    
    .latest_h2::after {
      top: 4.25rem;
     }
    
    .latest__icon {
      padding-top: 1.7rem; 
    }
  
    .latest__icon img{    
      height: 1.5rem;
      width: 1.5rem;
    }
}

@media (max-width: 768px) {
  .latest-gallery {
    margin-top: 1.2rem;
    flex-direction: column;
    row-gap: 2rem; 
  }

   .latest-gallery__image-wrap {
    margin-bottom: 2rem;
  }

  .latest-gallery_padding {
    padding-bottom: 1.1rem;
  }

  .latest-gallery_h3 {
  font-size: clamp(1.5rem,6.25vw,3rem);
   margin-top: 0.5rem;
  }

  .latest-gallery_h4 {
    margin-bottom: 0.5rem;
    font-size: clamp(0.875rem,4.25vw,2rem);
  }

  .latest-gallery__date {   
    left: 0;   
    /* width: 4.25rem; 
    height: 4.25rem; */
  }

  .latest-gallery_statistics {  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
  }

  .latest-gallery__icon {
    max-height: 1.25rem;
    margin-right: 1.125rem;
  }

.latest-blog_padding {
    padding-bottom: 2.2rem;
    }

    .latest_h2 {
      padding-bottom: 5.6rem;
      padding-top: 2rem;
      color: #f38281;
    }
    
    .latest_h2::after {
        top: 6.5rem;
     }

     .latest__icon {     
      padding-top: 2.9rem;
    } 

     .latest__icon img{    
      height: 2.125rem;
      width: 1.375rem;
    } 
  } 
 
/* --------------FOOTER--------------------- */
.footer {
  background: #F8F8F8;
  padding-top: 5.3rem;  
}

.footer-wrap{
  display: flex;
  justify-content: space-between;
  gap:1.94rem;
  padding-bottom: 2.625rem;
}

.footer-item_text-style {
  padding: 2.9rem 0 2.1rem 0;
  color: #C6CBCD;  
}

.footer-item_logo svg{
width: 8.813rem;
height: 3.375rem;
}

.footer-item_flex_column {
  display: flex;
  flex-direction: column;
   min-height: 100%; 
}

.footer-item_text-uppercase {
text-transform: uppercase;
line-height: 1.875rem;
font-style: italic;
}

.footer-item_text-uppercase span {
   line-height: 1.875rem;
  font-weight: 700;  
  }

.footer-item_text-uppercase span span {
    font-size: 2rem;  
    font-style: normal;  
}

.footer__icons-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.125rem 0 2.875rem 0;
  padding-top: 0.625rem;
  color: #C6CBCD;
  font-style: italic;
  font-size: 0.813rem;
  line-height: 0.939rem;
  border-top: 1px solid #C6CBCD;
}

.footer__icons-wrap p {
  flex: 1;
}

.footer__icons {  
  display: flex;
  justify-content: space-between;
  margin-left: 0.4rem; 
}

.footer__icons a:not(last-of-type) {
  margin-right: 0.7rem;
  }

.footer__icons a {
display: flex;
align-items: center;
}

.footer-form {
display: flex;
justify-content: space-between;
}

.footer-form input {
  flex: 1;
  padding: 1.125rem;
  border: 1px solid #C6CBCD;
  border-right: none;
}

.footer-form input::placeholder {
  font-size: 1.125rem;
  text-align: center;
  color: #C6CBCD;   
}

.footer-form button {
  padding: 1rem;
  background: #95E1D3;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

.footer-form button:hover {
  background: #87D2C4;
}

.footer-form button:active {
  background: #5C958A;
}

.blogs-wrap>h3,
.footer__gallery>h3 {
  margin-bottom: 2.625rem;
} 

.blogs-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blogs {
flex: 1;
display: flex;
flex-direction: column;
row-gap: 1.25rem;
}

.blogs__item {
  flex:1;
  display: flex;
  justify-content: space-between;
  column-gap: 1.25rem; 
}

.blogs__text {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blogs__text h4 {
text-transform: uppercase;
font-weight: 700;
margin-bottom: 1.125rem;
transition: all 0.2s ease;
}

.blogs__text h4:hover {
  transform: scale(1.02); 
  }
  

.blogs__text p {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  }

.blogs__image {
  flex:1;
  max-width: 36%;
  max-height: 100%;
  transition: all 0.2s ease;
}


.blogs__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogs__image:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 6px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 6px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 6px 9px rgba(34, 60, 80, 0.2);
}

.footer-item_width-1 {
   max-width: 31.61%;
  }

.footer-item_width-2 {
flex: 1;
}

.footer-item_width-3 {
  max-width: 23%;
}


.footer__photo{
display: grid;
gap: 2px;
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
transition: all 0.2s ease;
}

.footer__photo a {
  line-height: 0;
}

.footer__photo img:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 6px 9px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 6px 9px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 6px 9px rgba(34, 60, 80, 0.2);
}

.footer__photo-wrap img {
width: 100%;
height: 100%;
object-fit: cover;
}

.footer__photo-link {
  display: flex;
  align-items: center;
  flex: 1;   
}

.footer__photo-link a{
  text-transform: uppercase;
  text-decoration: underline;
  color: #2D3033;
  font-size: 0.8125rem;
  line-height: 0.9375rem;  
}

.footer__photo-link a:hover{
  font-weight: 700;
}

.footer__icons img:hover {
  transform: scale(1.3);
}

.footer__copypight{
  text-transform: uppercase;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 700;
  text-align: center;
  padding: 1.25rem 0;
  border-top: 1px solid #c6cbcd;
}

 @media (max-width: 1024px) {
  
  .footer {
    padding-top: 1.8rem;  
  }
  
  .footer-wrap{
    gap:1.3rem;
    padding-bottom: 2.625rem;
  }

  .footer-item_width-3 {
    max-width: 25%;
}
    
    .footer-item_text-style {
    padding: 2rem 0 1.7rem 0;
  }
  
  .footer-item_text-uppercase span span {
      font-size: 1.5rem;    
  }
  
  .footer__icons-wrap {
    margin: 0.45rem 0 1.95rem 0;
    padding-top: 0.38rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .footer-item_logo svg{
    width: 5.96rem;
    height: 1.62rem;
    }    
 
  .footer__icons img{
    width: 1rem; 
    height: 1rem;
  }
  
  .footer__icons a:not(first-of-type) {
    margin-right: 0.4rem;
    }  
  
  .footer-form input {
    padding: 0 0.5rem;
    max-width: 60%;
  }
    
  .footer-form input::placeholder {
    font-size: 0.875rem;
  }
  
  .footer-form button {
    padding: 0.65rem;
    max-width: 40%;
    flex: 1;
  }

  .blogs-wrap>h3,
  .footer__gallery>h3 {
    margin-bottom: 1.4rem;
  } 
  
  .blogs {
  row-gap: 0.7rem;
  }
  
  .blogs__item {
    column-gap: 1.25rem; 
  }
  
  .blogs__image {  
    max-width: 28%;
    /* max-height: 4.5rem; */
  }

  .blogs__text h4 {
  margin-bottom: 0.9rem;
  margin-top: 0.5rem;
  }
  
  .blogs__text p {
    font-size: 0.75rem;
    line-height: 0.875rem;
    }  
  
    .footer__photo img {
     max-width: 4.875rem; 
     width: 100%;
     object-fit: cover;
    }

  .footer__photo-link a {
    font-size: 0.75rem;
    line-height: 0.875rem;
    padding-top: 0.2rem; 
    text-decoration: underline;
  }
  
   .footer__copypight{  
    padding: 1.25rem 0;
  }
}
  @media (max-width: 768px) {
    .footer {     
      padding-top: 3.4rem;  
    }
    
    .footer-item_text-style {
      padding: 1.4rem 0 1.2rem 0;     
    }

    .footer-item>a,
    .footer-item>p {
      text-align: center;     
    }

    .footer-wrap{
      flex-direction: column;
      gap:1.4rem;
      padding-bottom: 2.625rem;
    }

    .footer-item_width-1 {
      max-width: 100%;
      flex: 1;
     }
     
   .footer-item_width-3 {
    max-width: 100%;
    flex: 1;
   }

   .footer__icons-wrap {
    margin: 0.55rem 0 1.95rem 0;
  }

  .footer__icons {  
    column-gap: 0.25rem;
  }

  .footer-form {
    flex-direction: column;
    row-gap: 1.45rem;
    }

    .footer-form input {
      flex: 1;
      max-width: 100%;
      padding: 0.65rem;
      border: 1px solid #C6CBCD; 
        
    }

    .footer-form input::placeholder {
      font-size: 0.875rem;
      padding-left: 1rem;
      text-align: left;      
    }

    .footer-form button {
      flex: 1;
      max-width: 100%;
      padding: 0.65rem;   
      
    }

    .blogs-wrap>h3,
    .footer__gallery>h3 {
      text-align: center;
      margin-bottom: 1.5rem;
    } 

    .footer__photo img {
      max-width: 100%;   
    }   
   
}

