* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;  
  
}

body, footer {
  font-size: 1.125rem;
  color: #2D3033;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.wrap {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header_margin {
  margin-top: 2.2rem;
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.eagle {
  background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    ),
    url(../image/banner.png) no-repeat;
  background-size: cover;
}

/* ------ главное меню---------*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.menu_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff;
}

.nav {
  display: flex;
  align-items: center;
  line-height: 1rem;
  list-style: none;
  margin-bottom: 1rem;
  padding-right: 2.375rem;
  padding-top: 0.35rem;
  gap: 1.75rem;
}

.nav li {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: inherit;
  justify-content: center;
  align-items: center; 
  padding: 0 1.125rem;   
}

.nav li:last-of-type { 
  padding-right: 0;  
}

.nav li a {
  text-decoration: none;
  color: #ffffff;
  text-align: center; 
}

.menu_find {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.menu_find_icon {
  padding-left: 0.5rem
}

.menu_hover::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -0.5rem;
  right: 0;
  left: 0;
  background: #f4bf87;
  transform: scale(0);
  transition: all 0.3s ease;
}

.menu_hover:hover::before {
  transform: scale(1);
}

.icon_hover path {
  fill: inherit;
}

.icon_hover:hover {
  fill: #f4bf87;
}

/* ------ section_welcome---------*/

.section-welcome {
  color: #ffffff;
  text-align: center;
}

.section-welcome_italic {
  font-family: "Kaushan Script", cursive;
  font-size: 4rem;
  padding-top: 10.5rem;
}

.section-welcome_h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 9rem;
  letter-spacing: 0.44rem;
  text-transform: uppercase;
  line-height: 10.8rem;
  padding: 0 4rem;
  margin-top: 1rem;
}

/* ------ section_welcome КНОПКА---------*/

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-learn {
  display: inline-block;
  position: relative;
  color: #ffffff;
  transition: all 0.4s ease;
}

.button-learn_margin {
  margin: 7.575rem 0;
}

.button-learn a {
  display: inline-block;
  padding: 1.25rem 6.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: inherit;
  border: 0.25rem solid #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-learn a:hover {
  color: #e4be8d;
  background: #fff;
}

.button-learn a:active {
  background: #fff;
  border: 0.25rem solid #e4be8d;
  color: #e4be8d;
}

/* ------LINE UNDER BUTTON---------*/

.button-learn::after {
  content: "";
  position: absolute;
  padding: 0;
  height: 4px;
  background: #fff;
  top: -4.85rem;
  left: 27%;
  right: 27%;
}

/* ------SECTION HEADER---------*/

.cursive {
  text-align: center;
  font-family: Kaushan Script;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.75rem;
}

.cursive_padding {
  padding-top: 3.725rem;
}

.text_title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.625rem;
  padding: 2.37rem 0 5.1rem 0;
}

.text_title::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 7.5rem;
  height: 4px;
  width: 100%;
  max-width: 10.625rem;
  text-align: center;
  background: #f38281;
}

.text_position {
  margin-bottom: 5rem;
  text-align: center;
}

/* -----SECTION STORY ABOUT US -----------------*/

.about-image {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 6.75rem;
  gap: 1.7rem;
}

.about-imagewrap {
  position: relative;
   flex: 1;
}

.about-imagewrap::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #95e1d3;
  opacity: 0;
}

.about-imagewrap:hover::before {
  opacity: 1;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-image_team {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 26.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

.about-image_team:hover {
  top: -0.625rem;
  left: -0.625rem;
  opacity: 1;
}

.about-image_team p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  padding-top: 1.875rem;
  color: #fff;
}

.section-about__statistics {
  background: #95e1d3;
}

.section-about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.section-about__statistics__item {
  flex: 1;
  padding: 4rem 0 3.813rem 0;
  border-right: 1px rgb(255, 255, 255) solid;
}

.section-about__statistics__item:first-child {
  border-left: 1px #fff solid;
}

.section-about__statistics__item_h2 {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.69rem;
  padding-bottom: 1.25rem;
}

.section-about__statistics__item_p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 400;
}
/* ------ SECTION WE WORK WITH ---------- */

.work-with {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10.25rem;
  column-gap: 2.2rem;
  margin-bottom: 6.7rem;
  margin-top: 3.1rem;
}

.work-with__item {
  display: flex; 
  flex: 1;
  flex-basis: calc((100% - 6.6rem)/3);  
  gap: 2.25rem;  
}

.text__h3 {
    text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.text__h3_padding {
  padding: 1.125rem 0 2.25rem 0;
}

.work-with__image {
  max-width: 3.5rem;
    width: 100%;
    height: auto; 
}

.work-with__item img {
    width: 100%;
    object-fit: cover;
}

.work-with__text-wrapper {
  flex: 1;
}

/* -------- SECTION UNIQUE DESIGN--------- */

.section-design {
  background: url(../image/design.png) no-repeat;
  background-size: cover;
  background-position: center;
  }

.section-design__image {
  position: relative;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 58%;
  padding-bottom: 3.4rem;
   margin-top: 1.375rem;
}

.section-design__image-in {
  position: absolute;
  width: 94%;
  top: 4%;
  left: 3%;
  overflow: hidden;
  z-index: -1;
  
}

.section-design__image-in img {
  width: 100%;
  object-fit: cover;
}


.image_design_image-under {
  position: relative;
  width: 100%; 
  z-index: 100;  
}

.section-design__image-under img {
  width: 100%;
  object-fit: cover;
  z-index: 100; 
}


.section-design__image-mobile {
  position: absolute;
  width: 100%;
  top: 37%;
  left: 77%;
  z-index: 3;
}

.section-design__image-mobile img {
  width: 29%;
  object-fit: cover;
}

/* -------- SECTION WHAT WE DO--------- */

.section-service__content {
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
  padding-bottom: 7rem;
}

.service-photo {
  flex: 1;
  max-width: 35.625rem;
  border: 1px #050101;  
}

.service-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.42rem;
  flex: 1;
  height: 100%;
}

.service-menu__item {
  display: flex;
  padding: 1.5rem 0 1.5rem 1.25rem;  
  border: 1px solid #c6cbcd;
  position: relative;
}

.service-menu__item h3 {
  display: flex;
  align-items: center;
  line-height: 1.5rem;
}

.service-menu__item:first-child {
  margin-top: 0;
}

.service-menu__icon {
  padding-right: 2.688rem;
}

.service-menu__text {
  flex: 1;
  border: 1px solid #c6cbcd;
  border-top: none;
  padding: 1.125rem 1.125rem 1.125rem 1.125rem;
  max-height: 10.2rem;
  overflow: auto;
}

.service-menu__item::after {
  content: url(../image/menu_arrow.svg);
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
}

.service-menu__item:first-child::after {
  transform-origin: 0 25%;
  transform: scaleY(-1);
}

.quote {
  background: #f8f8f8;
  padding: 2.6rem 0;
}

.quote__content {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 7.15rem 0 7.15rem;
}

.button-arrow__left {
  position: absolute;
  left: 2.125rem;
  top: 50%;
  transform: scaleX(-1) translateY(-50%);
}

.button-arrow__right {
  position: absolute;
  right: 2.125rem;
  top: 50%;
  transform: translateY(-50%);
}

.quote__image {
  margin-right: 1.875rem;
  min-width: 10.626rem;
  height: 10.626rem;
}

.quote__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote__text {
  margin-top: 0.5rem;
  font-family: Raleway;
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.quote__name {
  position: relative;
  margin-top: 1.7rem;
  padding-left: 7.875rem;
  text-align: start;
}

.quote__name::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 4.375rem;
  background: #f38281;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* ------------SECTION MEET OUR TEAM-------------- */

.section-team_padding {
padding-top: 2.6rem;
padding-bottom: 5.6rem;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  padding-top: 1rem;  
}

.team__item {
  flex: 1;
  position: relative;
  height: auto;
}

.team__item img{
  width: 100%;
  height: 100%;
}

.icon_social {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
}

.icon_social svg:hover rect{
    fill:#F38281; 
}

.icon_social svg:hover path{ 
  fill:#F9EFCF;  
}

.icon_social svg:active {
  transform: scale(1.2);
}

.team__item-empty {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.4s ease;
}

.team__item-empty:hover {
  bottom: 1rem;
  right: 1rem;
  opacity: 1;
}

.text__h4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.31rem;
  text-align: center;
  vertical-align: middle;
}

.team__name_padding {
  padding: 1.7rem 0 2.2rem 0;
}

.text_center {
  text-align: center;
  vertical-align: middle;
}

.section_vector {
  background: #f8f8f8;
}

.vector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3.875rem 0;
}

.vector>div {
  display: flex;
  align-items: center;
  justify-content: right;
}

.vector img {
  max-height: 5.25rem;
  max-width: 100%;
  object-fit: cover;
}

/* -----------SECTION SOME OF OUR WORK------------- */
.section-work_padding {
  padding-top: 2.9rem;  
  }

.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery__item {
  position: relative;
}

.gallery__empty-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.4s ease;
}

.text_white {
  color: #fff;

}
.gallery__empty-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__empty-item_h3_position {
  padding: 4.5rem 0 1.125rem 0;
}

.gallery__empty-item:hover {
  opacity: 1;
}

.gallery__empty-item img {
  max-width: 2.25rem;
}

.gallery__item3 {
  grid-row: span 2;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.quote_style {
  background: none;
  margin: 5.3rem 0;
}

/* -------- SECTION WHAT PEOPLE SAY---------- */

.section__people {
  background: url(../image/peple_background.png);
  background-size: cover;
}

.section__wrap {
  background: rgba(255, 255, 255, 0.9);
  padding-bottom: 3.7rem;
}

.text_left {
  text-align: left;
}

.people {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3.188rem;
  column-gap: 1.125rem;
  row-gap: 5rem; 
  margin-top: 1.3rem;
}

.people__item {
  flex-basis: calc(98% / 2);
  display: flex;
  column-gap: 3rem; 
  
}

.people__content {
  flex: 1;
  position: relative;
}

.people__content::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 4.375rem;
  background: #f38281;
  left: 0;
  top: 5.125rem;
}

.people__img {
  border-radius: 100%;
  max-width: 8.125rem;
  width: 100%;  
  margin-left: 1.4rem;
}

.people__img img {
  width: 100%;
  object-fit: cover;
}

.text_padding {
  padding: 0 3.375rem 0 0;
}

.people__item h4 {
  padding: 1.125rem 0 5.375rem 0;
}

/* ---------------- LATEST BLOG---------------------- */
.latest-blog_padding {
padding-top: 2.8rem;
padding-bottom: 5.5rem;
}

.latest-gallery {
  display: flex;
  column-gap: 1.875rem; 
}

.latest-gallery__image-wrap {
  position: relative;
  width: 100%;
  height: auto; 
  margin-bottom: 2.375rem;
}

.latest-gallery__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.latest-gallery__image-wrap img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.latest-gallery__date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 21.62%;
  height: 31.62%;
  top: 58.5%;
  left: -3.5%;
  background: rgba(149, 225, 211, 0.97);
}

.latest-gallery_h3 {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.75rem;
  color: #fff;
}

.latest-gallery_h4 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #fff;
}

.latest-gallery__item>p {
  flex:1;
}

.latest-gallery_statistics {  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.2rem;
}

.latest-gallery__shows,
.latest-gallery__messages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.latest-gallery__icon {
  max-height: 1.5rem;
  margin-right: 1.125rem;
}

.latest-gallery_number {
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  padding-right: 3.25rem;
}

.latest-gallery_padding {
  padding-bottom: 1.313rem;
}

.latest_h2 {
  padding-bottom: 5rem;
  padding-top: 1.5rem;
  color: #f38281;
}

.latest_h2::after {
    top: 6.5rem;
 }

.latest__footer {
  background: url(../image/latest_background.png);
  background-size: cover;
}

.latest__footer > div {
  background: rgba(255, 255, 255, 0.9);
}

.latest__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.875rem;
}
/* --------------FOOTER--------------------- */
.footer {
  background: #F8F8F8;
  padding-top: 5.3rem;  
}

.footer-wrap{
  display: flex;
  justify-content: space-between;
  gap:1.94rem;
  padding-bottom: 2.625rem;
}
/* .footer-item {
width: 100%;
} */

.footer-item_text-style {
  padding: 2.9rem 0 2.1rem 0;
  color: #C6CBCD;  
}

.footer-item_flex_column {
  display: flex;
  flex-direction: column;
   min-height: 100%; 
}

.footer-item_text-uppercase {
text-transform: uppercase;
line-height: 1.875rem;

}

.footer-item_text-uppercase span {
   line-height: 1.875rem;
  font-weight: 700;  
  }

.footer-item_text-uppercase span span {
    font-size: 2rem;    
}

.footer__icons-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.125rem 0 2.875rem 0;
  padding-top: 0.625rem;
  color: #C6CBCD;
  font-style: italic;
  font-size: 0.813rem;
  line-height: 0.939rem;
  border-top: 1px solid #C6CBCD;
}

.footer__icons {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem; 
}

.footer__icons a:not(first-of-type) {
  margin-right: 0.4rem;
  }

.footer__icons a {
display: flex;
align-items: center;
}

.footer-form {
display: flex;
justify-content: space-between;
}

.footer-form input {
  flex: 1;
  padding: 1.125rem;
  border: 1px solid #C6CBCD;
  border-right: none;
}

.footer-form input::placeholder {
  font-size: 1.125rem;
  text-align: center;
  color: #C6CBCD;   
}

.footer-form button {
  padding: 1rem;
  background: #95E1D3;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

.blogs-wrap>h3,
.footer__gallery>h3 {
  margin-bottom: 2.625rem;
} 

.blogs-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blogs {
flex: 1;
display: flex;
flex-direction: column;
row-gap: 1.25rem;
}

.blogs__item {
  flex:1;
  display: flex;
  justify-content: space-between;
  column-gap: 1.25rem; 
}

.blogs__text {
  flex:1;
}

.blogs__text h4 {
text-transform: uppercase;
font-weight: 700;
margin-bottom: 1.125rem;
}

.blogs__text p {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  }

.blogs__image {
  flex:1;
  max-width: 36%;
}

.blogs__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-item_width-1 {
   max-width: 31.61%;
  }

.footer-item_width-2 {
flex: 1;
}

.footer-item_width-3 {
  max-width: 23%;
}

.footer__photo{
display: grid;
gap: 2px;
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
}

.footer__photo-wrap img {
width: 100%;
height: 100%;
object-fit: cover;
}

.footer__photo-link {
  display: flex;
  align-items: center;
  flex: 1;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 0.9375rem;  
}

.footer__icons img:hover {
  transform: scale(1.3);
}

.footer__copypight{
  text-transform: uppercase;
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 700;
  text-align: center;
  padding: 1.25rem 0;
  border-top: 1px solid #c6cbcd;

}

/* @media (max-width: 1024px) {
  * {
    font-size: 70%;
  }

  .vector img {
    max-height: 3.5rem;
  }
}

@media (max-width: 640px) {
  .people {
    flex-direction: column;
  }

  .people__wrap {
    max-width: 100%;
  }
} */
