* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.wrap {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.eagle {
  background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    ),
    url(../image/banner.png) no-repeat;
  background-size: cover;
}

/* ------ главное меню---------*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.menu_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.nav {
  display: flex;
  align-items: center;
  line-height: 1rem;
  list-style: none;
}

.nav li {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: inherit;
  justify-content: center;
  align-items: center;
  padding: 1.125rem;
  margin: 1.5rem;
}

.nav li a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.menu_find {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_find_icon {
  padding: 0 0.5rem;
}

.menu_hover::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0.625rem;
  right: 0;
  left: 0;
  background: #f4bf87;
  transform: scale(0);
  transition: all 0.3s ease;
}

.menu_hover:hover::before {
  transform: scale(1);
}

.icon_hover path {
  fill: inherit;
}

.icon_hover:hover {
  fill: #f4bf87;
}

/* ------ section_welcome---------*/

.section-welcome {
  color: #ffffff;
  text-align: center;
}

.section-welcome_italic {
  font-family: "Kaushan Script", cursive;
  font-size: 4rem;
  padding-top: 11.06rem;
}

.section-welcome_h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 9rem;
  letter-spacing: 0.44rem;
  text-transform: uppercase;
  line-height: 11rem;
  padding: 0 3rem;
}

/* ------ section_welcome КНОПКА---------*/

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-learn {
  display: inline-block;
  position: relative;
  color: #ffffff;
  transition: all 0.4s ease;
}

.button-learn_margin {
  margin: 6.75rem 0 8.5rem 0;
}

.button-learn a {
  display: inline-block;
  padding: 1rem 6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: inherit;
  border: 0.25rem solid #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-learn a:hover {
  color: #e4be8d;
  background: #fff;
}

.button-learn a:active {
  background: #fff;
  border: 0.25rem solid #e4be8d;
  color: #e4be8d;
}

/* ------LINE UNDER BUTTON---------*/

.button-learn::after {
  content: "";
  position: absolute;
  padding: 0;
  height: 4px;
  background: #fff;
  top: -4.375rem;
  left: 6rem;
  right: 6rem;
}

/* ------SECTION HEADER---------*/

.cursive {
  text-align: center;
  font-family: Kaushan Script;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.75rem;
}

.cursive_padding {
  padding-top: 4rem;
}

.text_title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.625rem;
  padding: 3rem 0 5.5rem 0;
}

.text_title::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 7.8125rem;
  height: 4px;
  width: 100%;
  max-width: 10.625rem;
  text-align: center;
  background: #f38281;
}

.text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.31rem;
}

.text_position {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  text-align: center;
}

/* -----SECTION STORY ABOUT US -----------------*/

.about-image {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 6.75rem;
  gap: 1.5rem;
}

.about-imagewrap {
  position: relative;
  height: 21.125rem;
  flex-grow: 1;
}

.about-imagewrap::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #95e1d3;
  opacity: 0;
}

.about-imagewrap:hover::before {
  opacity: 1;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-image_team {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 26.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s ease;
}

.about-image_team:hover {
  top: -0.625rem;
  left: -0.625rem;
  opacity: 1;
}

.about-image_team p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  padding-top: 1.875rem;
  color: #fff;
}

.section-about__statistics {
  background: #95e1d3;
}

.section-about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.section-about__statistics__item {
  flex: 1;
  padding: 4.25rem 0 3.813rem 0;
  border-right: 1px rgb(255, 255, 255) solid;
}

.section-about__statistics__item:first-child {
  border-left: 1px #fff solid;
}

.section-about__statistics__item_h2 {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.69rem;
  padding-bottom: 1.5rem;
}

.section-about__statistics__item_p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 400;
}
/* ------ SECTION WE WORK WITH ---------- */

.work-with {
  display: flex;
  justify-content: space-between;
  row-gap: 4.875rem;
  margin-bottom: 6.313rem;
}

.work-with__item {
  flex: 1;
  display: flex;
  flex-basis: calc(100% / 3);
  flex-wrap: wrap;
}

.work-with__item_padding {
  padding-right: 0.5rem;
}

.text__h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.17rem;
}

.text__h3_padding {
  padding: 1.125rem 1rem 2.25rem 0;
}

.work-with__item img {
  max-height: 3.5rem;
  padding-right: 2.125rem;
}

/* -------- SECTION UNIQUE DESIGN---------- */

.section-design {
  background: url(../image/design.png) no-repeat;
  background-size: cover;
}

.section-design__image {
  display: inline-block;
  position: relative;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 57%;
  max-height: 100%;
  margin-bottom: 3.175rem;
}

.image_design_under {
  position: relative;
  width: 100%;
  z-index: 2;
}

.section-design__image-under img {
  width: 100%;
  object-fit: cover;
}

.section-design__image-in {
  position: absolute;
  width: 94%;
  top: 5%;
  left: 3%;
  overflow: hidden;
  z-index: 1;
}

.section-design__image-in img {
  width: 100%;
  object-fit: cover;
}

.section-design__image-mobile {
  position: absolute;
  width: 100%;
  top: 41%;
  left: 77%;
  z-index: 3;
}

.section-design__image-mobile img {
  width: 29%;
  object-fit: cover;
}

/* -------- SECTION WHAT WE DO--------- */

.section-service__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  padding-bottom: 7.25rem;
}

.service-photo {
  flex: 1;
  height: 30.188rem;
}

.service-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.275rem;
  flex: 1;
  height: 100%;
}

.service-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-menu__item {
  display: flex;
  padding: 1.575rem;
  border: 1px solid #c6cbcd;
  position: relative;
}

.service-menu__item h3 {
  display: flex;
  align-items: center;
}

.service-menu__item:first-child {
  margin-top: 0;
}

.service-menu__icon {
  padding-right: 2.688rem;
}

.service-menu__text {
  border: 1px solid #c6cbcd;
  border-top: none;
  padding: 1.125rem 1.125rem 1.125rem 1.125rem;
  max-height: 10rem;
  overflow: auto;
}

.service-menu__item::after {
  content: url(../image/menu_arrow.svg);
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
}

.service-menu__item:first-child::after {
  transform-origin: 0 25%;
  transform: scaleY(-1);
}

.quote {
  background: #f8f8f8;
  padding: 1.75rem 0;
}

.quote__content {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 5.313rem 0 6.25rem;
}

.quote__content::before {
  content: url(../image/slider_arrow.svg);
  position: absolute;
  left: 2.125rem;
  top: 50%;
  transform: scaleX(-1) translateY(-50%);
}

.quote__content::after {
  content: url(../image/slider_arrow.svg);
  position: absolute;
  right: 2.125rem;
  top: 50%;
  transform: translateY(-50%);
}

.quote__image {
  margin-right: 1.875rem;
  min-width: 10.626rem;
  height: 10.626rem;
}

.quote__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote__text {
  font-family: Raleway;
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.quote__name {
  position: relative;
  margin-top: 2rem;
  padding-left: 7.875rem;
  text-align: start;
}

.quote__name::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 4.375rem;
  background: #f38281;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* ------------SECTION MEET OUR TEAM-------------- */

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  padding-bottom: 5.25rem;
}

.team__item {
  position: relative;
}

.icon_social {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.team__item-empty {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.4s ease;
}

.team__item-empty:hover {
  bottom: 1rem;
  right: 1rem;
  opacity: 1;
}

.text__h4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.31rem;
  text-align: center;
  vertical-align: middle;
}

.team__name_padding {
  padding: 2.25rem 0;
}

.text_center {
  text-align: center;
  vertical-align: middle;
}

.section_vector {
  background: #f8f8f8;
}

.vector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3.875rem 0;
}

.vector img {
  max-height: 5.25rem;
  max-width: 100%;
  object-fit: cover;
}

/* -----------SECTION SOME OF OUR WORK------------- */

.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery__item {
  position: relative;
}

.gallery__empty-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.4s ease;
}

.gallery__empty-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__empty-item_h3_position {
  padding: 4.5rem 0 1.125rem 0;
}
.gallery__empty-item:hover {
  opacity: 1;
}

.gallery__empty-item img {
  max-width: 2.25rem;
}

.gallery__item3 {
  grid-row: span 2;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.quote_paddind {
  padding: 5.25rem 0;
}

/* -------- SECTION WHAT PEOPLE SAY---------- */

.section__people {
  background: url(../image/peple_background.png);
  background-size: cover;
}

.section__wrap {
  background: rgba(255, 255, 255, 0.9);
  padding-bottom: 3rem;
}

.text_left {
  text-align: left;
}

.people {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3.188rem;
  column-gap: 1.125rem;
}

.people__item {
  flex-basis: calc(98% / 2);
  display: flex;
  justify-content: space-between;
}

.people__content {
  position: relative;
}

.people__content::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 4.375rem;
  background: #f38281;
  left: 0;
  top: 5.125rem;
}

.people__img {
  border-radius: 100%;
  min-width: 8.125rem;
  min-height: 8.125rem;
  margin: 0 1.313rem 0 0.5rem;
}

.people__img img {
  width: 100%;
  object-fit: cover;
}

.text_padding {
  padding: 0 3.375rem 0 0;
}

.people__item h4 {
  padding: 1.125rem 0 5.375rem 0;
}

/* ---------------- LATEST BLOG---------------------- */

.latest-blog {
  padding-bottom: 5.25rem;
}

.latest-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  column-gap: 1.5rem;
}

.latest-gallery__item {
  flex: 1;
}

.latest-gallery__image-wrap {
  position: relative;
  width: 100%;
  height: 15.813rem;
  margin-bottom: 2.375rem;
}

.latest-gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.latest-gallery__date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 21.62%;
  height: 31.62%;
  top: 58.5%;
  left: -3.5%;
  background: rgba(149, 225, 211, 0.97);
}

.latest-gallery_h3 {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.75rem;
  color: #fff;
}

.latest-gallery_h4 {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #fff;
}

.latest-gallery_statistics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2.375rem;
}

.latest-gallery__shows,
.latest-gallery__messages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.latest-gallery__icon {
  max-height: 1.5rem;
  margin-right: 1.125rem;
}

.latest-gallery_number {
  font-size: 0.813rem;
  line-height: 0.938rem;
  font-weight: 400;
  padding-right: 3.25rem;
}

.latest-gallery_padding {
  padding-bottom: 1.313rem;
}

.latest_h2 {
  padding-bottom: 5rem;
  color: #f38281;
}
.latest__footer {
  background: url(../image/latest_background.png);
  background-size: cover;
}

.latest__footer > div {
  background: rgba(255, 255, 255, 0.9);
}

.latest__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.875rem;
}

.footer__copypight {
  text-transform: uppercase;
  text-align: center;
  padding: 1.25rem 0;
  border: 1px solid #c6cbcd;
}

@media (max-width: 1024px) {
  * {
    font-size: 70%;
  }

  .vector img {
    max-height: 3.5rem;
  }
}

@media (max-width: 640px) {
  .people {
    flex-direction: column;
  }

  .people__wrap {
    max-width: 100%;
  }
}
