$background-base: rgb(212, 212, 212);
$background-button: rgb(35, 233, 207);
$background-button-hover: rgb(28, 187, 166);
$background-button-active: rgb(43, 51, 50);
$fontcolor-button-active: rgb(239, 240, 240);
$bordercolor-button-active: rgb(75, 236, 148);
$fontsize-base: 1rem;
$fontsize-bp1: 0.8rem;